* {
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
    background: #e8e8e8;
}

.box{
    transform: translateY(30%);
    width: 300px;
    margin: auto;
    background: linear-gradient(90deg, rgba(57,52,52,1) 0%, rgba(79,74,69,0.8295693277310925) 100%, rgba(0,0,0,0.6418942577030813) 100%);    text-align: center;
    border-radius: 5px;

    header, .display{
        padding-bottom: 10px;
        padding-top: 10px;
    }

    header button{
        font-weight: 700;
    }

    input {
        font-family: "Roboto Mono", monospace;
        border-radius: 10px;
        outline: none;
        border: none;
        margin: 0 5px 0 0;
        background: linear-gradient(188deg, rgba(255,255,255,1) 1%, rgba(237,231,231,1) 5%, rgba(218,218,218,0.6418942577030813) 96%, rgba(232,225,225,0.3309698879551821) 98%);        width: 60px;
        height: 60px;
        font-size: 30px;
        text-align: center;
    }
    button{
        margin-top: 10px;
        border-radius: 5px;
        font-family: "Roboto Mono", monospace;
        background: #00000061;
        color: white;
        font-size: 17px;
        outline: none;
        border: 1px solid #ffffff80;
    }

    .group{
        display: flex;
        justify-content: space-evenly;
        flex-direction: row;
        flex-wrap: wrap;
        padding-bottom: 20px;

        button{
            margin-left: 3px;
        }
    }

    .stopwatch-button{
        /* display: none; */
    }
    .timer-button{
        display: none; 
    }
}